<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='title'>
        <p>{{title}}</p>
        <input type="checkbox" v-model='c'>
        <p>{{c}}</p>
    </div>
    <script src="src/vue.js"></script>
    <script>
        let data ={
            title:123,
            c:false
        }

        let vm = new Vue({
            el:'#app',
            data:data
        })
    </script>
</body>
</html>